@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400&family=Open+Sans:wght@400&display=swap');

footer {
  padding-bottom: 1.5em;
}

body {
  font-family: "Exo 2", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding: 0 10%;
}

p {
  font-family: "Open Sans", sans-serif;
}

.bolded {
  font-weight: bold;
}

.right {
  float: right;
}

.no {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  background-color: #0000 !important;
  border-radius: 0 !important;
  outline: 0 !important;
}

.status-box {
  border-radius: 5px;
  width: 100%;
}

.status-box--ERROR {
  background-color: #eaa;
  border: 1px solid red;
}

.status-box--SUCCESS {
  background-color: #aea;
  broder: 1px solid green;
}
