<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Tank Game - Hack the North 2021" />
    <meta name="keywords" content="Tank Game, Hack the North, Hack the North 2021, HTN, HTN2021, 2021" />
    <meta name="author" content="Alexander Liao, Andrew Liao, Keenan Gugeler, Thomas Ingram" />
    <meta name="viewport", content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.2/iconfont/material-icons.min.css" integrity="sha512-y9glprRcVESvYY3suAqBUYXx0ySbQNvbzzgvLy9F2o38Y7XCNeq/No2gnHjV3+Rjyq5ijoPZRMXotpdw6jcG4g==" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js" integrity="sha512-m2PhLxj2N91eYrIGU2cmIu2d0SkaE4A14bCjVb9zykvp6WtsdriFCiXQ/8Hdj0kssUB/Nz0dMBcoLsJkSCto0Q==" crossorigin="anonymous"></script>
    <script src="/static/js/global.js"></script>

    {% block dependencies %} {% endblock %}

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <header>
      {% include 'navbar.html' %}

      {% block header %}
      {% endblock %}
    </header>
    <main>
      {% block main %}
      {% endblock %}
    </main>
    <footer class="page-footer deep-purple">
      <div class="container">
        &copy;&nbsp;2021 Alexander Liao, Andrew Liao, Keenan Gugeler, Thomas Ingram
      </div>
    </footer>
  </body>
</html>
