{% extends 'layout.html' %}

{% block main %}
<h2>Sign Up</h2>
<div class="row">
  <form class="col s12" action="/signup" method="post">
    <div class="row">
        <div class="input-field col s5">
            <input id="username" type="text" maxlength="40" data-length="40">
            <label for="username">Username</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s5">
            <input id="password" type="password">
            <label for="password">Password</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s5">
            <input id="password" type="password">
            <label for="password">Repeat Password</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button class="deep-purple darken-2 waves-effect waves-light btn" type="submit" name="action">Sign Up <i class="material-icons right">send</i></button>
        </div>
    </div>
  </form>
</div>
{% endblock %}
