{% extends 'layout.html' %}

{% block dependencies %}
<script src="/static/js/submit.js"></script>
{% endblock %}

{% block header %}
<h2>Submit</h2>
{% endblock %}

{% block main %}
<div class="row">
  <form class="col s12" action="/submit" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col s12">
        <div id="switch" class="switch">
          <label>
            Paste Code
            <input name="switch" type="checkbox" />
            <span class="lever"></span>
            Upload File
          </label>
        </div>
      </div>
      <br /><br />
      <div id="input-field" class="input-field col s12">
        <textarea id="code" name="code" class="materialize-textarea">{{ code }}</textarea>
        <label for="code">Code</label>
      </div>
      <div id="file-upload" class="file-field input-field col s12" hidden>
        <div class="btn">
          <span>Upload File</span>
          <input name="file" type="file" />
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" />
        </div>
      </div>
      <div class="col s12">
        <button class="deep-purple darken-2 waves-effect waves-light btn" type="submit" name="action">Submit <i class="material-icons right">send</i></button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
